<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="RijndaelEncryptionServiceConfig" type="NServiceBus.Config.RijndaelEncryptionServiceConfig, NServiceBus.Core" />
    <section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core" />
    <section name="AzureSubscriptionStorageConfig" type="NServiceBus.Config.AzureSubscriptionStorageConfig, NServiceBus.Azure" />
  </configSections>
  <!--<system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>-->
  <connectionStrings>
    <add name="NServiceBus/Transport" connectionString="UseDevelopmentStorage=true" />
  </connectionStrings>
  <!-- in order to configure remote endpoints use the format: "queue@machine" 
       input queue must be on the same machine as the process feeding off of it.
       error queue can (and often should) be on a different machine.
  -->
  <AzureSubscriptionStorageConfig ConnectionString="UseDevelopmentStorage=true" />
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />
  <RijndaelEncryptionServiceConfig Key="gdDbqRpqdRbTs3mhdZh9qCaDaxJXl+e6" />
  <!--Audit Configuration has been moved from UnicastBusConfig to AuditConfig. 
  <AuditConfig QueueName="The address to which messages received will be forwarded."
    OverrideTimeToBeReceived="The time to be received set on forwarded messages, specified as a timespan see http://msdn.microsoft.com/en-us/library/vstudio/se73z7b9.aspx"  /> -->
  <AuditConfig QueueName="audit" />
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Assembly="VideoStore.Messages" Namespace="VideoStore.Messages.Commands" Endpoint="VideoStore.Sales" />
      <add Assembly="VideoStore.Messages" Type="VideoStore.Messages.Events.DownloadIsReady" Endpoint="VideoStore.ContentManagement" />
      <add Assembly="VideoStore.Messages" Type="VideoStore.Messages.Events.OrderCancelled" Endpoint="VideoStore.Sales" />
      <add Assembly="VideoStore.Messages" Type="VideoStore.Messages.Events.OrderPlaced" Endpoint="VideoStore.Sales" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
        <machineKey decryption="AES" decryptionKey="F7FA540B4DFD82E5BB196B95D15FF81F1DAFE3F0B051E71054F9816E3ECF08D3" validation="SHA1" validationKey="1DAFE3F0B051E71054F9816E3ECF08D31E4AC92E9DE62168764FF0DCE537184F0535D5D9AD66DEDC1DAFE3F0B051E71054F9816E3ECF08D31E4AC92E97DC1ABF" />
  </system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NServiceBus.Core" publicKeyToken="9fc386479f8a226c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NServiceBus" publicKeyToken="9fc386479f8a226c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>
