<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="RijndaelEncryptionServiceConfig" type="NServiceBus.Config.RijndaelEncryptionServiceConfig, NServiceBus.Core" />
    <section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core" />
  </configSections>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.3.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <connectionStrings>
    <add name="NServiceBus/Transport" connectionString="Endpoint=sb://nservicebus-samples.servicebus.windows.net/;SharedSecretIssuer=owner;SharedSecretValue=l6QXK6vW6AlMdc32j+CGDwmjI5FFlj4MDVwwoc5000M=" />
  </connectionStrings>
  <!-- in order to configure remote endpoints use the format: "queue@machine" 
       input queue must be on the same machine as the process feeding off of it.
       error queue can (and often should) be on a different machine.
  -->
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />
  <RijndaelEncryptionServiceConfig Key="gdDbqRpqdRbTs3mhdZh9qCaDaxJXl+e6" />
  <!--Audit Configuration has been moved from UnicastBusConfig to AuditConfig. 
  <AuditConfig QueueName="The address to which messages received will be forwarded."
    OverrideTimeToBeReceived="The time to be received set on forwarded messages, specified as a timespan see http://msdn.microsoft.com/en-us/library/vstudio/se73z7b9.aspx"  /> -->
  <AuditConfig QueueName="audit" />
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Assembly="VideoStore.Messages" Namespace="VideoStore.Messages.Commands" Endpoint="VideoStore.Sales" />
      <add Assembly="VideoStore.Messages" Type="VideoStore.Messages.Events.DownloadIsReady" Endpoint="VideoStore.ContentManagement" />
      <add Assembly="VideoStore.Messages" Type="VideoStore.Messages.Events.OrderCancelled" Endpoint="VideoStore.Sales" />
      <add Assembly="VideoStore.Messages" Type="VideoStore.Messages.Events.OrderPlaced" Endpoint="VideoStore.Sales" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <machineKey decryption="AES" decryptionKey="F7FA540B4DFD82E5BB196B95D15FF81F3520CD7C7FEE584D42A7BE4FF41B1159" validation="SHA1" validationKey="3520CD7C7FEE584D42A7BE4FF41B11597DB5E1219DE62168764FF0DCE537184F0535D5D9AD66DEDC3520CD7C7FEE584D42A7BE4FF41B11597DB5E12197DC1ABF" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3.0" newVersion="3.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>